[loggers]
keys = root

[handlers]
keys = localMonthly, DatabaseLoggingHandler

[formatters]
keys = completeInformation

[logger_root]
level = DEBUG
handlers = localMonthly, DatabaseLoggingHandler
qualname = VmcLogger

[handler_localMonthly]
class = handlers.TimedRotatingFileHandler
kwargs = {'filename': 'VMC_Weekly.log', 'when': 'W0', 'backupCount': 3}
formatter = completeInformation

[handler_DatabaseLoggingHandler]
class = DataAccess.DatabaseLoggingHandler.DatabaseLoggingHandler
args = ()
formatter = completeInformation

[formatter_completeInformation]
format = %(asctime)s %(UserID)04d %(SessionID)04d %(levelname)s %(module)s %(funcName)s %(message)s